@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import "tailwindcss";

@theme {
  --color-lightgolden: #EECB6F;
  --color-darkgolden: #B58025;
  --color-lightgray: #FDFDFD;
  --color-landingpagebg: #F1F1F1;
  --color-landingpagefooter: #262626;
  --color-font: #171717;

  --animate-kenburns: kenburns 20s ease-in-out infinite both;
  @keyframes kenburns {
    0% {
      transform: scale(1) translate(0, 0);
    }
    50% {
      transform: scale(1.1) translate(-2%, 2%);
    }
    100% {
      transform: scale(1) translate(0, 0);
    }
  }
}

@layer utilities {
  /* Esconde o "olhinho" de senha no Chrome, Edge, Safari */
  input[type="password"]::-webkit-password-reveal-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
  }
  
  /* Esconde o "olhinho" de senha no Internet Explorer 10+ e Edge antigo */
  input[type="password"]::-ms-reveal {
    display: none;
  }
}

:root {
  font-family: "Poppins", sans-serif;
  color-scheme: light;
  background-color: #F1F1F1;
}